<!-- Title group -->
<div class="title-group">
		<h1 class="mat-h1">Workout Programs List</h1>
		<mat-divider fxFlex="1 0"></mat-divider>
</div>

<p *ngIf="WorkoutProgramData.length <= 0" class="no-data">There is no workout program added yet!</p>

<table mat-table *ngIf="WorkoutProgramData.length > 0" [dataSource]="dataSource" multiTemplateDataRows>

	<!-- Workout Program Name column -->
	<ng-container matColumnDef="workoutProgramName">
		<th mat-header-cell *matHeaderCellDef> Workout Program Name </th>
		<td mat-cell *matCellDef="let element">{{ element.Program }}</td>
	</ng-container>

	<!-- Action column -->
	<ng-container matColumnDef="action">
		<th mat-header-cell *matHeaderCellDef> Action </th>
		<td mat-cell *matCellDef="let element">
			<button mat-raised-button color="primary" class="push-right"
				[routerLink]="['/edit-workout-program/', element._id]">Edit</button>
			<button mat-raised-button color="warn" (click)="deleteWorkoutProgram(element)">Delete</button>
		</td>
	</ng-container>

	<!-- Expandable element -->
	<ng-container matColumnDef="expandedDetail">
		<td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
			<div [@detailExpand]="element.exercises == expandedElement ? 'expanded' : 'collapsed'"
				class="example-element-detail">
				
				<!-- Exercises table -->
				<table mat-table [dataSource]="exercisesDataSource" multiTemplateDataRows>
					
					<ng-container *ngFor="let column of exercisesDisplayedColumns" matColumnDef="{{ column }}">
						<th mat-header-cell *matHeaderCellDef>{{ column }}</th>
						<td mat-cell *matCellDef="let element">{{ element[column] }}</td>
					</ng-container>

					<ng-container matColumnDef="action">
						
						<th mat-header-cell *matHeaderCellDef>
							<button mat-icon-button color="accent" (click)="addExercise(element)">
								<mat-icon>add</mat-icon>
							</button>
						</th>

						<td mat-cell *matCellDef="let element; let i = dataIndex;">
							<div class="example-button-row">
								<button mat-icon-button color="primary" (click)="editExercise(element)">
									<mat-icon>edit</mat-icon>
								</button>
								<button mat-icon-button color="warn" (click)="deleteExercise(i, element)">
									<mat-icon>delete</mat-icon>
								</button>
							</div>
						</td>

					</ng-container>

					<tr mat-header-row *matHeaderRowDef="exercisesDisplayedColumns.concat(['action'])"></tr>
					<tr mat-row *matRowDef="let element; columns: exercisesDisplayedColumns.concat(['action'])"
						class="example-element-row"></tr>
				</table>

	 		</div>
		</td>
	</ng-container>

	<!-- Table row definitions -->
	<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
	<tr mat-row *matRowDef="let element; columns: displayedColumns;"
		class="example-element-row" [class.example-expanded-row]="expandedElement === element"
		(click)="getExercises(element)"></tr>
	<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
