doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block navbar
      a(href="signup") signup
      a(href="login") Login
      a(href="/") Home

    block content

    block footer
      h6 created by group 7
