doctype html
html

  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    block navbar
      a(class='navspace' href='/') Home
      a(class='navspace' href='signup') Signup
      a(class='navspace' href='login') Login
      a(class='navspace' href='program') Workout Programs
      
    block content

    block footer
      h6 Created by group 7