extends ../layout

block content
  h1= title
  p Welcome to #{title}

  // register form
  form(method='POST' action='workout/submit')
    div.form-group
      label(for='programName') Program Name:
      input#programName.form-control(type='text', placeholder='Program Name' name='programName')
    div.form-group
      label(for='exercise') Exercise:
      input#exercise.form-control(type='text', placeholder='Exercise' name='exercise')
    div.form-group
      label(for='description') Description:
      input#description.form-control(type='text', placeholder='Description' name='description')
    div.form-group
      label(for='set') Set:
      input#set.form-control(type='number', placeholder='Set' name='set')
    div.form-group
      label(for='repsOrTime') Reps/time:
      input#repsOrTime.form-control(type='text' name='repsOrTime')
