extends ../layout

block content
  h1= title
  p Welcome to #{title}

  // List of programs
  h3 List of workout programs:
  ul.list-group
  each item in programs
    li.list-group-item
      a(href="/program/workout/" + item._id)= item.Program 

  // Add new workout program form
  form(method='POST' action='program/submitNewProgram')
    div.form-group
      label(for='program') Program name: 
      input#program.form-control(type='text', placeholder=' Enter program name' name='program')
    button.btn.btn-primary(type='submit') Add New Program

