extends ../layout

block content
  h1= title
  p Welcome to #{title}

  // register form
  form(method='POST' action='program/submitNewProgram')
    div.form-group
      label(for='program') Program:
      input#program.form-control(type='text', placeholder='program' name='program')
    button.btn.btn-primary(type='submit') Submit

